{{> head}}
    {{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>Castle</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, pariatur. Culpa aperiam officia fugit beatae reiciendis suscipit blanditiis, cumque in qui ad tempore facere, tenetur, ipsum minima modi ratione ea?</p>
        </div>
        <div class="col-4">
            <img src="assets/img/castle.jpg" class="img-thumbnail">
        </div>
    </div>
    {{> footer}}